{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST" >
     {% csrf_token %}
    <div class="">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-2"> <h5>Nueva SubCategoria</h5></div>


                            {% crispy form %}
                            <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Guardar</button>

                    </div>

                  </div>
                </div>
              </div>
            </div>
</form>
{% endblock %}