{% extends 'base.html' %}
{% block content %}
<div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Subcategorias</h6>
                  <div class="dropdown no-arrow">
                    <a class="btn btn-success tn-block" href="{% url 'inv:crear-subcat' %}" role="button" >
                      <i class="fas fa-plus fa-sm fa-fw "></i>
                        Crear
                    </a>

                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  {% if not obj %}
                      <div class="alert alert-info">
                      <h3>No hay SubCategorias</h3>
                      </div>
                    {% else %}
                <table class="table table-striped table-hover text-center">
                    <thead>
                    <th>Categoria</th>
                    <th>ID</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>F. Creacion</th>
                    <th>F. Modificacion</th>
                    <th class="all">Acciones</th>
                    </thead>
                    <tbody>
                    {% for item in obj %}
                        <tr>
                            <td>{{ item.categoria }}</td>
                            <td>{{ item.id }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.estado|yesno:"Activo,Inactivo"}}</td>
                        <td>{{ item.fc }}</td>
                        <td>{{ item.fm }}</td>
                        <td>
                            <a href="{% url 'inv:editar-subcat' item.id %}" class="btn btn-warning " role="button"><i class="fa fa-edit"></i></a>
                            <a href="{% url 'inv:eliminar-subcat' item.id %}" class="btn btn-danger " role="button"><i class="fa fa-trash-alt"></i></a>
                        </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                </div>
              </div>
{% endblock %}
{% block js %}
    <script>
    $(document).ready(function() {
    $('table').DataTable();
} );
    </script>
{% endblock %}